<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>	
	<div class="container">
		<header class = "main-header">

			<div class = "logo">
				<a href="/"> <img src="/images/logo.png" alt=""> </a>
				
			</div>

			<!-- left-navbar-->
			<nav class = "left-navbar">
				<ul>
					<li><a href="#">smartphones</a></li>
					<li><a href="#">tablets</a></li>
					<li><a href="#">computadoras</a></li>
					
				</ul>
			</nav>
			
			<!-- right-navbar--> 
			<nav class = "right-navbar">
				<ul>
					<li><a href="/login">login</a></li>
					<li><a href="/register">registro</a></li>					
				</ul>
			</nav>

		</header>
		<!-- main conteiner--> 
		<section class = "product-list">
			
			<article class="product-detail">
				<img src="/images/img-phone-01.jpg" alt="producto 1">
				<h2> Nombre del producto</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis hic numquam aliquam id iusto harum reprehenderit eaque? Iusto consequuntur amet sunt ipsum mollitia repudiandae ipsam placeat pariatur aspernatur aperiam.</p>
				<a href="#" class="verMas">VER MAS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-02.jpg" alt="producto 2">
				<h2> Nombre del producto</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis hic numquam aliquam id iusto harum reprehenderit eaque? Iusto consequuntur amet sunt ipsum mollitia repudiandae ipsam placeat pariatur aspernatur aperiam.</p>
				<a href="#"  class="verMas">GROBISHKERE</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-03.jpg" alt="producto 3">
				<h2> Nombre del producto</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis hic numquam aliquam id iusto harum reprehenderit eaque? Iusto consequuntur amet sunt ipsum mollitia repudiandae ipsam placeat pariatur aspernatur aperiam.</p>
				<a href="#"  class="verMas">VER MAS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-01.jpg" alt="producto 1">
				<h2> Nombre del producto</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis hic numquam aliquam id iusto harum reprehenderit eaque? Iusto consequuntur amet sunt ipsum mollitia repudiandae ipsam placeat pariatur aspernatur aperiam.</p>
				<a href="#" class="verMas">VER MAS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-02.jpg" alt="producto 2">
				<h2> Nombre del producto</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis hic numquam aliquam id iusto harum reprehenderit eaque? Iusto consequuntur amet sunt ipsum mollitia repudiandae ipsam placeat pariatur aspernatur aperiam.</p>
				<a href="#"  class="verMas">GROBISHKERE</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-03.jpg" alt="producto 3">
				<h2> Nombre del producto</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis hic numquam aliquam id iusto harum reprehenderit eaque? Iusto consequuntur amet sunt ipsum mollitia repudiandae ipsam placeat pariatur aspernatur aperiam.</p>
				<a href="#"  class="verMas">VER MAS</a>
			</article>

		</section>

		<section class = "tutorial">
			<h2 class="tutorial-tittle">Tutoriales</h2>	
			<ul class="tutorial-detail">
				<li>
					<a href="#">
						<img src="/images/aside-01.jpg" alt="imagen 1" >
						<p>Lorem ipsum, dolor sit amet consectetur</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/aside-02.jpg" alt="imagen 2" >
						<p>Lorem ipsum, dolor sit amet consectetur</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/aside-03.jpg" alt="imagen 3" >
						<p>Lorem ipsum, dolor sit amet consectetur</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/aside-04.jpg" alt="imagen 4" >
						<p>Lorem ipsum, dolor sit amet consectetur</p>
					</a>
				</li>
			</ul>

			<h2 class="tutorial-tittle">Publicidad</h2>	
				<div class="adverting">
					<img src="/images/node.jpg" alt="imagen 1" >
					<img src="/images/node.jpg" alt="imagen 2" >
				</div>				
		</section>	

	</div>
</body>

</html>